body{
background-color: #99CCFF;
font-color: black;
}

#gora{
background-color: #3399CC;
font-color: black;
}

#menu{
background-color: #99CCFF;
font-color: black;
}

#przycisk{
color: black;
}
.otoczka
{
    color: #010101;
    background: #19b6f8;
    padding: 10px;
    border:2px solid;
    border-radius:15px;
}

.zakonczone
{
    color: #fbca1c;
    background: #0680f8;
    padding: 10px;
    border:2px solid;
    border-radius:5px;
}
.komentarze
{
    color: #3d2cfb;
    background: #00f866;
    padding: 10px;
    border:2px solid;
    border-radius:5px;
}
.wplaty
{
    color: #3d2cfb;
    background: #f0f878;
    padding: 10px;
    border:2px solid;
    border-radius:5px;
}