{% extends "base.html" %}
{% block title %}
Nowy projekt
{% endblock %}
{% block content %}
    <div xmlns="http://www.w3.org/1999/html">
    <h1>Nowy projekt</h1>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <table style="width: 100%">
                <tr><td style="width: 45%"><label> Nazwa projektu</label>
                <td style="width: 55%">{{ formset.title }}</td>
                </tr>
                <tr></tr>
                <tr><td><label>Krótki opis projektu  </label> </td>
                <td>{{ formset.short_description }}</td></tr>
                <tr></tr>
                <tr><td><label>Kategoria projektu</label></td>
                <td>{{ formset.category }} </td></tr>
                <tr></tr>
                <tr><td><label>Wybierz planowaną kwotę do uzbierania</label></td>
                <td><table><tr><td >{{ formset.funding_goal}}</td><td><input type="text" id="goal"  onchange="valuetextchange();"></td></tr></table></td></tr>
            </table>
            <input type="hidden" id="perkindex" value="0">
            <h4>Progi finansowania</h4>
            <table style="width: 100%">
                <tr >
                    <td style="display: inline-block; width: 45%">
                        <h6>Progi finansowania</h6>
                        <div class="perks" id="divperks">
                        </div>
                    </td>
                    <td style="width: 55%">
                        <label>Tytuł progu finansowania:</label>
                        <input type="text" id="perktitle" class="form-control" name="perk-perk_description" >
                        <label>Opis progu finansowania:</label>
                        <textarea id="perkdescription" class="form-control" rows="10" name="perk-perk_description" cols="40"></textarea>
                        <table style="width: 100%">
                           <tr>
                               <td>
                                <label>Kwota progu finansowania:</label>
                               </td>
                               <td></td>
                           </tr>
                            <tr>
                                <td style="width: 75%" >
                                    <input id="perkvalue" class="form-control" type="range" value="0" style="width: 500px" step="1" onchange="perkvaluechange('#perk','#perkvalue');" onmousemove="perkvaluechange('#perk','#perkvalue');" name="perk-perk_value" min="0" max="1000000">
                                </td>
                                <td style="width: 25%">
                                    <input type="text" id="perk"  value="0" onchange="perkvaluechange('#perkvalue','#perk');">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="giftamountcheckbox" type="checkbox" onchange="giftamountchange()" ><label>Limit nagród</label>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr id="giftamount">
                               <td>
                                    <label>Ilość nagród:</label>
                               </td>
                               <td></td>
                            </tr>
                            <tr id="giftamountvalue">
                                <td style="width: 75%" >
                                    <input id="perkavaliable" class="form-control" type="range" value="0" style="width: 500px" step="1" onchange="perkvaluechange('#perkamount','#perkavaliable');" onmousemove="perkvaluechange('#perkamount','#perkavaliable');" name="perk-perk_value" min="0" max="10000">
                                </td>
                                <td style="width: 25%">
                                    <input type="text" id="perkamount"  value="0" onchange="perkvaluechange('#perkavaliable','#perkamount');">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Dodaj próg finansowy" onclick="addperk();">
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <label>Pełny opis projektu:</label>
            {{ formset.description}}
            <div>
                <div id="fulldescription"></div>
            </div>
            <h3>Załączniki</h3>
            <table style="width: 100%">
                <tr >
                    <td style="display: inline; width: 45%">
                        <h6>Załącznik</h6>
                        <div id="divatachments" >
                        </div>
                    </td>
                    <td style="width: 55%">
                        <input id="urlradio"  checked value="on" name="at" onclick="radioclick();" type="radio">
                        <h5 id="fromurllabel" style="display: inline">Z URL</h5>
                        <input id="urlindex" type="text" disabled style="visibility: collapse;display: inline;width: 0;height: 0" value=0>
                        <br>
                        <input  id="url" name="url" type="text" style="width: 100%">
                        <br>
                        <input id="fileradio" name="at" onclick="radioclick();" type="radio">
                        <h5 id="fromfilelabel" style="display: inline">Z pliku</h5>
                        <input id="fileindex" type="text" disabled style="visibility: collapse;display: inline;width: 0;height: 0" value=0>
                        <input id="file" name="file" file="0" type="file"  disabled width="auto">
                        <div id="divfile" divfile="0"></div>
                        <br>
                        <input type="button" id="uploadbutton" value="Dodaj załącznik" style="display: inline" onclick="uploadfile();">
                    </td>
                </tr>
            </table>
            <input onmousedown="a()" type="submit" class="btn btn-default" value="Utwórz projekt">
            <input type="reset" class="btn btn-default" value="Anuluj">
        </form>
    </div>
    <script type="text/javascript">
    var a=function(){ $('#id_project-description').val($('#fulldescription').code()) };
    $(document).ready(function() {
          $('#fulldescription').summernote({
              height: 450,
              onImageUpload: a(),
              onfocus: a(),
              onblur: a()
          });
          giftamountchange();
    });
    var valuechange=function(){$('#goal').val($('#id_project-funding_goal').val());}
    var perkvaluechange=function(a,b){$(a).val($(b).val());}
    var valuetextchange=function(){$('#id_project-funding_goal').val($('#goal').val())}
    var radioclick=function(){
        if($('#urlradio').val()=='on')
        {
            $('#urlradio').val('off');
            $('#fileradio').val('on');
            $("#file").prop('disabled',false);
            $("#url").prop('disabled',true);
        }
        else
        {
            $('#urlradio').val('on');
            $('#fileradio').val('off');
            $("#file").prop('disabled',true);
            $("#url").prop('disabled',false);
        }
    }
    var showuploadbutton=function(){$('#uploadbutton').css.style('#uploadbutton','visibility','visible') }
    var uploadfile=function()    {
        if($('#urlradio').val()=='on')
        {
            var html=$('#divatachments').html();
            urlindex=parseInt($('#urlindex').val());
            html=html+'<nobr urllabel=\"'+urlindex.toString()+' \" ><div style=\"display:inline-block;overflow: auto;overflow-y:hidden;width: 70%\"><label urllabel=\"'+urlindex.toString()+' \" id=\"urlfile'+urlindex.toString()+'\" >'+$('#url').val()+'</label></div><a urllink=\"'+urlindex.toString()+' \" onclick=\"deleteurl('+urlindex.toString()+'); \" \">usuń</a></nobr>';
            html+='<input name=\"urlfile\" url=\"'+urlindex.toString()+'\" type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"'+$('#url').val() +'\">';
            urlindex+=1;
            $('#urlindex').val(urlindex);
            var html=$('#divatachments').html(html);
            $('#url').val('');
        }
        else
        {
            var html=$('#divatachments').html();
            index=parseInt($('#fileindex').val());
            html=html+'<nobr filelabel=\"'+index.toString()+' \" ><div style=\"display:inline-block;overflow: auto;overflow-y:hidden;width: 70%\"><label id=\"file'+index+'\">'+$("#file[file~='"+index.toString()+"']").val()+'</label></div>';
            html+='<a filelink=\"'+index.toString()+' \" onclick=\"deletefile('+index.toString()+');\" >usuń</a><br></nobr>';
            var html=$('#divatachments').html(html);
            $("#file[file~='"+index+"']").css('visibility','collapse');
            $("#file[file~='"+index+"']").css('width','0');
            $("#file[file~='"+index+"']").css('height','0');
            index2=index+1;
            $('#fileindex').val(index2);
            html2='<input id=\"file\" name=\"file\" type=\"file\" file=\"'+index2.toString()+'\" width=\"auto\">';
            html2+="<div id=\"divfile\" divfile=\""+index2.toString()+"\"></div>";
            $("*[divfile~='"+index.toString()+"']").html(html2);
        }
    }
    var deletefile =function(index){
        $("#file[file~='"+index.toString()+"']").remove();
        $("*[filelabel~='"+index.toString()+"']").remove();
        $("*[filelink~='"+index.toString()+"']").remove();
    };
    var deleteurl =function(index){
        $("*[url~='"+index.toString()+"']").remove();
        $("*[urllabel~='"+index.toString()+"']").remove();
        $("*[urllink~='"+index.toString()+"']").remove();
    };
    var deleteperk =function(index){
        $("*[perkv~='"+index.toString()+"']").remove();
        $("*[perktitlevalue~='"+index.toString()+"']").remove();
        $("*[perkdescriptionvalue~='"+index.toString()+"']").remove();
    };
    var addperk=function(index){
        var html=$('#divperks').html();
        perkindex=parseInt($('#perkindex').val());
        html=html+'<nobr perklabel=\"'+perkindex.toString()+' \" ><div style=\"display:inline-block;overflow: auto;overflow-y:hidden;width: 70%\"><label urllabel=\"'+perkindex.toString()+' \" id=\"perk'+urlindex.toString()+'\" >'+$('#perktitle').val()+'</label></div><a urllink=\"'+urlindex.toString()+' \" onclick=\"deleteperk('+perkindex.toString()+'); \" \">usuń</a>'
        html+='<input name=\"perk\"  type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"'+$('#perktitle').val() +'\">';
        html+='<input name=\"perk\"  type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"'+$('#perkdescription').val() +'\">';
        html+='<input name=\"perk\"  type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"'+$('#perkvalue').val() +'\">';
        if ($('#giftamountcheckbox').is(':checked'))
        {
             html+='<input name=\"perk\"  type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"'+$('#perkamount').val() +'\">';
        }
        else
        {
             html+='<input name=\"perk\"  type=\"text\" style=\"visibility: collapse;height: 0px;width: 0px \" value=\"-1\">';
        }

        html+='<br></nobr>';
        perkindex+=1;
        $('#perkindex').val(perkindex);
        var html=$('#divperks').html(html);
        $('#perktitle').val('');
        $('#perkdescription').val('');
        $('#perkvalue').val('0');
        $('#perkamount').val('0');
        $('#perkavaliable').val('0');
        $('#perk').val('0');
        $('#giftamountcheckbox').attr('checked',false);
        giftamountchange();


    };
    var deleteperk=function(index){
        $('*[perklabel~="'+index+'"]').remove();
    }
    var giftamountchange=function()
    {
        if ($('#giftamountcheckbox').is(':checked'))
        {
            $('#giftamount').show();
            $('#giftamountvalue').show();
        }
        else
        {
            $('#giftamount').hide();
            $('#giftamountvalue').hide();
        }

    }
    </script>
{% endblock %}