<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Panel admina
{% endblock %}
{% block content %}
<table class="table table-hover table-bordered table-condensed" style="background-color: white;">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Email</th>
        <th>Ban</th>
        <th>Uprawnienia</th>
        <th>
            Edycja
        </th>

        <th>
            Usuwanie
        </th>
    </tr>
    {% for cat in usrs %}
    <tr>
        <td>
            {{ cat.id }}

        </td>

        <td>
            {{ cat.login }}
        </td>

        <td>
            {{ cat.email}}
        </td>

        <td>
            {{ cat.ban}}
        </td>
        <td>
            {{ cat.type}}
        </td>

        <td>
            <a href="{% url 'updateusr' cat.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>

        <td>
            <a href="{% url 'delusr' cat.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
Uprawnienia: 0 - admin; 1 - mod; 0 - user
{% endblock %}