<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Panel admina
{% endblock %}
{% block content %}
<a href="#" class="btn"><span class="glyphicon glyphicon-plus"></span> dodaj nową kategorię</a>
<table class="table table-hover table-bordered table-condensed" style="background-color: white;">
    <tr>
        <th>
            ID
        </th>

        <th>
            Treść
        </th>

        <th>
            Edycja
        </th>

        <th>
            Usuwanie
        </th>
    </tr>
    {% for cat in cats %}
    <tr>
        <td>
            {{ cat.id }}
        </td>

        <td>
            {{ cat.name }}
        </td>

        <td>
            <a href="{% url 'updatecat' cat.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>

        <td>
            <a href="{% url 'updatecat' cat.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}