<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Panel admina
{% endblock %}
{% block content %}

<table class="table table-hover table-bordered table-condensed" style="background-color: white;">
    <tr>
        <th>
            ID
        </th>

        <th>
            Tytuł
        </th>

        <th>
            Edycja
        </th>

        <th>
            Usuwanie
        </th>
    </tr>
    {% for pro in pros%}
    <tr>
        <td>
            {{ pro.id }}
        </td>

        <td>
            {{ pro.title }}
        </td>

        <td>
            <a href="#" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>

        <td>
            <a href="#" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}