<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Obserwowane projekty
{% endblock %}
{% block content %}

<table class="table table-hover table-bordered table-condensed" style="background-color: white;">
    <tr>
        <th>
            Tytuł
        </th>

        <th style="width:5em">
            Usuwanie
        </th>
    </tr>
    {% for pro in pros%}
    <tr>
        <td>
            <a href="{% url 'project' pro.project.id %}">{{ pro.project.title }}</a>
        </td>

        <td>
            <a href="{% url 'delobserved' pro.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}