<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Projekt
{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}user.css">
<div>
    <h2>{{ project.title }}</h2>
    {% if request.session.user %}
        {% if obs == False %}
            <a href="{% url 'addobserved' proid %}" class="btn"><span class="glyphicon glyphicon-plus"></span>Obserwuj</a>
        {% endif %}
        {% if obs == True%}
            <a href="{% url 'delobservedp' proid %}" class="btn"><span class="glyphicon glyphicon-minus"></span>Przestań obserwować</a>
        {% endif %}
    {% endif %}

    <a href="{% url 'stats' project.id %}" class=" btn btn-info btn-lg active" role="button" style="font-size: 14px;">Statystyki projektu</button></a>
    <br><br>
    <div id="description">
        {{ project.full_description|safe }}
    </div>
    <div>
        {%for atachment in atachments %}
            {% if 'youtube.com' in atachment.url %}
               <iframe width="420" height="315" src="//www.youtube.com/embed/{{atachment.url|slice:"32:"}}" frameborder="0" allowfullscreen></iframe>
            {% elif 'jpg' in atachment.url %}
                <img src="{{atachment.url}}" alt="załącznik">
            {% else %}
                <a href="{{ atachment.url }}">{{atachment.url}}</a>
            {% endif %}
            <br>

        {% endfor %}
    </div>
    <div id="perks">
        {% for perk in perks %}
            <div class="projectviewperk">
            <h4>{{perk.title}}</h4>
            Kwota progu: {{ perk.amount }}
            <br>
            {{ perk.description }}
            <br>
            {% if perk.number_available %}
                Ilość pozostałych nagród: {{ perk.number_available }}
            {% endif %}
            </div>
        {% endfor %}
    </div>
    Projekt odwiedzilo już: {{ project.visit_counter|add:'1' }}
    <div id="rating">
    {% if request.session.login %}
        {% if userrate %}
        Ocena projektu:
        <nobr>
                <img id="star0" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="1" >
                <img id="star1" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="2" >
                <img id="star2" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="3" >
                <img id="star3" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="4" >
                <img id="star4" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="5" >
        </nobr><br>
        {% else  %}
                Oceń:
                <nobr>
                <img id="star0" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="1" onmouseover="starsmouseover(1);" onclick="starsclick(1);">
                <img id="star1" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="2" onmouseover="starsmouseover(2);" onclick="starsclick(2);">
                <img id="star2" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="3" onmouseover="starsmouseover(3);" onclick="starsclick(3);">
                <img id="star3" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="4" onmouseover="starsmouseover(4);" onclick="starsclick(4);">
                <img id="star4" width="20" height="20" src="{{ STATIC_URL }}emptystarr.png" alt="5" onmouseover="starsmouseover(5);" onclick="starsclick(5);">
                </nobr><br>
        {% endif %}
    {%else%}
         Aby oceniń projekt zaloguj się
    {% endif %}
    </div>
</div>
Komentarze:
{% for com in coms %}
<div class="panel panel-default">
    <div class="panel-heading"><b>{{ com.user.login }}</b> napisał/a dnia {{ com.date_created}}
        <a href="{% url 'updatecom' com.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="{% url 'delcom' com.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <div class="panel-body">
        {{ com.content }}
    </div>
</div>
{% empty %}
Nie ma żadnych komentarzy dla tego projektu
{% endfor %}
<div><a href="{% url 'addcoment' proid %}" class="btn btn-primary" role="button" style="width:100%"><h4>Dodaj
    komentarz</h4></a></div>
<script>
$('#document').ready(function()
{
    $.ajax({
        url: "/visitors/{{ project.id }}/",
        context: document.body
    });
    {% if request.session.login and userrate %}
        starsmouseover({{ rating }});
    {% endif %}

});
var starsmouseover=function(starid){
    var i=parseInt(starid);
    for(var j=0;j<i;j++){
        $('#star'+ j.toString()).attr("src","{{ STATIC_URL }}fillstar.jpg");
    }
    for(var j=i ;j<5;j++)
    {
        $('#star'+ j.toString()).attr("src","{{ STATIC_URL }}emptystarr.png");
    }
};
var starsclick=function(starid){
    $.ajax({
        url: "/rate/{{ project.id }}/"+starid+"/",
        context: document.body,
    success: function(html) {
        $('#rating').html(html);
    }});
};


</script>
{% endblock %}