<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Projekt
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}user.css">
<div>
    <h2>{{ project.title }}</h2>
    {% if request.session.user %}
        {% if obs = False %}
            <a href="{% url 'addobserved' proid %}" class="btn"><span class="glyphicon glyphicon-plus"></span>Obserwuj</a>
        {% endif %}
        {% if obs = True%}
            <a href="{% url 'delobservedp' proid %}" class="btn"><span class="glyphicon glyphicon-minus"></span>Przestań obserwować</a>
        {% endif %}
    {% endif %}
    <br>
    <div id="description">
       {{ description }}
        <br>
        {%for atachment in atachments %}
            {% if 'youtube' in atachment.url %}
                <embed
                width="420" height="345"
                src="{{ atachment.url }}"
                type="application/x-shockwave-flash">
                </embed>
            {% elif 'jpg' in atachment.url %}
                <img src="{{atachment.url}}" alt="załącznik">
            {% else %}
                <a href="{{ atachment.url }}">{{atachment.url}}</a>
            {% endif %}

        {% endfor %}
    </div>
    <div id="perks">
        {% for perk in perks %}
            <div class="projectviewperk">
            <h4>{{perk.title}}</h4>
            {{ perk.amount }}
            <br>
            {{ perk.description }}
            <br>
            {% if perk.number_available %}
                Ilość pozostałych nagród: {{ perk.number_available }}
            {% endif %}
            </div>
        {% endfor %}
    </div>
    Projekt odwiedzilo już: {{ project.visit_counter }}
    Ocena: {{ project.rating }}
</div>
Komentarze:
{% for com in coms %}
<div class="panel panel-default">
    <div class="panel-heading"><b>{{ com.user.login }}</b> napisał/a dnia {{ com.date_created}}
        <a href="{% url 'updatecom' com.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="{% url 'delcom' com.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <div class="panel-body">
        {{ com.content }}
    </div>
</div>
{% empty %}
Nie ma żadnych komentarzy dla tego projektu
{% endfor %}
<div><a href="{% url 'addcoment' proid %}" class="btn btn-primary" role="button" style="width:100%"><h4>Dodaj
    komentarz</h4></a></div>
{% endblock %}